<!-- Handlebars.registerPartial('card', '{{card}}') -->

<div class="" id="">
<!-- Card Header: Title - User - Info -->
        {{#with author.[i]}}
            <h4>This.Asked: {{askId}}</h4>
            <div>{{qUsername}}</div>
            <div>{{extraInfo}}</div>
        {{/with}}
<!-- End Card Header -->
<!-- Card Main: Title - User - Info -->
        {{#with author.[x]}}
            <h4>This.Answerd</h4>
            <div>{{anUsername}}</div>
            <div>{{highestRep}}</div>
        {{/with}}
<!-- End Card Main -->
<!-- Card Footer: Tags - DwnButton - Reply - Votes -->
        {{Tags}}
        <button type="button" class="view-more-btn" id="qst-pg-button">V</button>
        <button type="button" class="reply-btn" id="reply-button">Reply</button>
        <div>Upvote-Downvote</div>
<!-- End Card Footer -->
<!-- Card NoAnwser: Text - Reply -->
{{!-- {{else}} --}}
    
        <p>No Reply has been made here yet, would you like to add one?</p>
        <button type="button" class="reply-btn" id="reply-button">Reply</button>
{{!-- {{/else}} --}}
<!-- End NoAnwser: -->
</div>